{:kotoba.app/id "cloud.itonami.isic-0150", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibc5jzy4iy3hq5vujpn2py5hka3thkpcblmh54acw2tvfftjqhz2i", :kotoba.app/embed-url "ipfs://bafkreibc5jzy4iy3hq5vujpn2py5hka3thkpcblmh54acw2tvfftjqhz2i", :published {:archive "https://kotobase.net/ipfs/bafkreibc5jzy4iy3hq5vujpn2py5hka3thkpcblmh54acw2tvfftjqhz2i", :size 72573, :put-status 201, :get-status 200, :at "2026-08-15T13:51:09.363Z"}}
